<h1>5d4</h1>

<ul>
    <li>
      <%= @outcome %>
    </li>
    <li>
      <%= @outcome %>
    </li>
    <li>
      <%= @outcome %>
    </li>
    <li>
      <%= @outcome %>
    </li>
    <li>
      <%= @outcome %>
    </li>
</ul>
